
/sde_principal.suo
/CSAS
/CSAS_Nuvem
/SDE.Desktop
/sde_principal.sln
/SDE.Desktop/FrmPrincipal.Designer.cs
/SDE.Desktop/FrmPrincipal.resx
/SDE.Desktop/Program.cs
/SDE.Desktop/SDE.Desktop.csproj
/SDE.Desktop/SDE.Desktop.csproj.user
/SDE.Desktop/SDE.Desktop_TemporaryKey.pfx
/SDE.Desktop/bin
/SDE.Desktop/ConexaoWeb
/SDE.Desktop/obj
/SDE.Desktop/Properties
/SDE.Desktop/Desktop.ico
/SDE.Desktop/FrmPrincipal.cs
/SDE.Desktop/Properties/Resources.Designer.cs
/SDE.Desktop/Properties/Resources.resx
/SDE.Desktop/Properties/Settings.Designer.cs
/SDE.Desktop/Properties/Settings.settings
/SDE.Desktop/Properties/app.manifest
/SDE.Desktop/Properties/AssemblyInfo.cs
/SDE.Desktop/obj/Debug/GenerateResource-ResGen.read.1.tlog
/SDE.Desktop/obj/Debug/GenerateResource-ResGen.write.1.tlog
/SDE.Desktop/obj/Debug/ResolveAssemblyReference.cache
/SDE.Desktop/obj/Debug/SDE.Desktop.application
/SDE.Desktop/obj/Debug/SDE.Desktop.csproj.FileListAbsolute.txt
/SDE.Desktop/obj/Debug/SDE.Desktop.exe
/SDE.Desktop/obj/Debug/SDE.Desktop.exe.manifest
/SDE.Desktop/obj/Debug/SDE.Desktop.FrmPrincipal.resources
/SDE.Desktop/obj/Debug/SDE.Desktop.pdb
/SDE.Desktop/obj/Debug/SDE.Desktop.Properties.Resources.resources
/SDE.Desktop/obj/Debug/SDE.Desktop.TrustInfo.xml
/SDE.Desktop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SDE.Desktop/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/SDE.Desktop/obj/Release/SDE.Desktop.application
/SDE.Desktop/obj/Release/SDE.Desktop.csproj.FileListAbsolute.txt
/SDE.Desktop/obj/Release/SDE.Desktop.csproj.GenerateResource.Cache
/SDE.Desktop/obj/Release/SDE.Desktop.exe
/SDE.Desktop/obj/Release/SDE.Desktop.exe.manifest
/SDE.Desktop/obj/Release/SDE.Desktop.FrmPrincipal.resources
/SDE.Desktop/obj/Release/SDE.Desktop.pdb
/SDE.Desktop/obj/Release/SDE.Desktop.Properties.Resources.resources
/SDE.Desktop/obj/Release/SDE.Desktop.TrustInfo.xml
/SDE.Desktop/obj/Release/SDE.SmartDesktop.csproj.FileListAbsolute.txt
/SDE.Desktop/obj/Release/SDE.SmartDesktop.csproj.GenerateResource.Cache
/SDE.Desktop/obj/Release/SDE.SmartDesktop.exe
/SDE.Desktop/obj/Release/SDE.SmartDesktop.FrmPrincipal.resources
/SDE.Desktop/obj/Release/SDE.SmartDesktop.pdb
/SDE.Desktop/obj/Release/SDE.SmartDesktop.Properties.Resources.resources
/SDE.Desktop/obj/Release/ResolveAssemblyReference.cache
/SDE.Desktop/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/SDE.Desktop/obj/Release/TempPE/ConexaoWeb.LocalDataCache1.Designer.cs.dll
/CSAS_Nuvem/CSAS_Nuvem.csproj
/CSAS_Nuvem/CSAS_Nuvem.csproj.user
/CSAS_Nuvem/Form1.cs
/CSAS_Nuvem/Form1.Designer.cs
/CSAS_Nuvem/Form1.resx
/CSAS_Nuvem/Leia-me.txt
/CSAS_Nuvem/Program.cs
/CSAS_Nuvem/app.config
/CSAS_Nuvem/Properties/Resources.Designer.cs
/CSAS_Nuvem/Properties/Resources.resx
/CSAS_Nuvem/Properties/Settings.Designer.cs
/CSAS_Nuvem/Properties/Settings.settings
/CSAS_Nuvem/Properties/AssemblyInfo.cs
/CSAS_Nuvem/obj/Release/CSAS_Nuvem.csproj.FileListAbsolute.txt
/CSAS_Nuvem/obj/Release/CSAS_Nuvem.csproj.GenerateResource.Cache
/CSAS_Nuvem/obj/Release/CSAS_Nuvem.exe
/CSAS_Nuvem/obj/Release/CSAS_Nuvem.Form1.resources
/CSAS_Nuvem/obj/Release/CSAS_Nuvem.pdb
/CSAS_Nuvem/obj/Release/CSAS_Nuvem.Properties.Resources.resources
/CSAS_Nuvem/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CSAS_Nuvem/obj/Release/ResolveAssemblyReference.cache
/CSAS_Nuvem/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/CSAS_Nuvem/obj/Debug/CSAS_Nuvem.csproj.FileListAbsolute.txt
/CSAS_Nuvem/obj/Debug/CSAS_Nuvem.exe
/CSAS_Nuvem/obj/Debug/CSAS_Nuvem.Form1.resources
/CSAS_Nuvem/obj/Debug/CSAS_Nuvem.pdb
/CSAS_Nuvem/obj/Debug/CSAS_Nuvem.Properties.Resources.resources
/CSAS_Nuvem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSAS_Nuvem/obj/Debug/GenerateResource-ResGen.read.1.tlog
/CSAS_Nuvem/obj/Debug/GenerateResource-ResGen.write.1.tlog
/CSAS_Nuvem/obj/Debug/ResolveAssemblyReference.cache
/CSAS_Nuvem/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/SDE.Desktop/bin/ExternalInterfaceProxy.dll
/SDE.Desktop/bin/FOXUSER.DBF
/SDE.Desktop/bin/FOXUSER.FPT
/SDE.Desktop/bin/Interop.ShockwaveFlashObjects.dll
/SDE.Desktop/bin/SDE.Desktop.application
/SDE.Desktop/bin/SDE.Desktop.exe
/SDE.Desktop/bin/SDE.Desktop.exe.manifest
/SDE.Desktop/bin/SDE.Desktop.pdb
/SDE.Desktop/bin/SDE.Desktop.vshost.application
/SDE.Desktop/bin/SDE.Desktop.vshost.exe
/SDE.Desktop/bin/System.Data.dll
/SDE.Desktop/bin/AxInterop.ShockwaveFlashObjects.dll
/SDE.Desktop/bin/Debug/Interop.ShockwaveFlashObjects.dll
/SDE.Desktop/bin/Debug/SDE.Desktop.application
/SDE.Desktop/bin/Debug/SDE.Desktop.exe
/SDE.Desktop/bin/Debug/SDE.Desktop.exe.manifest
/SDE.Desktop/bin/Debug/SDE.Desktop.pdb
/SDE.Desktop/bin/Debug/AxInterop.ShockwaveFlashObjects.dll
/SDE.Desktop/bin/Debug/ExternalInterfaceProxy.dll
/SDE.Desktop/ConexaoWeb/GerenteBaixaRelatorioCliente.cs
/SDE.Desktop/ConexaoWeb/GerenteBaixaRelatorioOrdemServico.cs
/SDE.Desktop/ConexaoWeb/GerenteBaixaRelatorioParcialBalanco.cs
/SDE.Desktop/ConexaoWeb/GerenteCarne.cs
/SDE.Desktop/ConexaoWeb/GerenteDMS.cs
/SDE.Desktop/ConexaoWeb/GerenteEtiquetas.cs
/SDE.Desktop/ConexaoWeb/GerenteLoginRVMangueiras.cs
/SDE.Desktop/ConexaoWeb/GerenteNFE.cs
/SDE.Desktop/ConexaoWeb/GerentePDF.cs
/SDE.Desktop/ConexaoWeb/GerenteProcessos.cs
/SDE.Desktop/ConexaoWeb/GerenteTEF.cs
/SDE.Desktop/ConexaoWeb/ConnWeb.cs
/SDE.Desktop/ConexaoWeb/GerenteBaixaDuplicata.cs
/SDE.Desktop/ConexaoWeb/GerenteBaixaInventario.cs
/CSAS_Nuvem/bin/Debug/CSAS_Nuvem.vshost.exe
/CSAS_Nuvem/bin/Debug/CSAS_Nuvem.vshost.exe.config
/CSAS_Nuvem/bin/Debug/CSAS_Nuvem.vshost.exe.manifest
/CSAS_Nuvem/bin/Debug/Db4objects.Db4o.dll
/CSAS_Nuvem/bin/Debug/Ionic.Utils.Zip.dll
/CSAS_Nuvem/bin/Debug/itextsharp.dll
/CSAS_Nuvem/bin/Debug/SDE.dll
/CSAS_Nuvem/bin/Debug/SDE.pdb
/CSAS_Nuvem/bin/Debug/CSAS_Nuvem.exe
/CSAS_Nuvem/bin/Debug/CSAS_Nuvem.exe.config
/CSAS_Nuvem/bin/Debug/CSAS_Nuvem.pdb
/CSAS_Nuvem/bin/Release/CSAS_Nuvem.vshost.exe
/CSAS_Nuvem/bin/Release/CSAS_Nuvem.vshost.exe.manifest
/CSAS_Nuvem/bin/Release/Db4objects.Db4o.dll
/CSAS_Nuvem/bin/Release/Ionic.Utils.Zip.dll
/CSAS_Nuvem/bin/Release/itextsharp.dll
/CSAS_Nuvem/bin/Release/SDE.dll
/CSAS_Nuvem/bin/Release/SDE.pdb
/CSAS_Nuvem/bin/Release/Boleto.Net.dll
/CSAS_Nuvem/bin/Release/Boleto.Net.pdb
/CSAS_Nuvem/bin/Release/CSAS_Nuvem.exe
/CSAS_Nuvem/bin/Release/CSAS_Nuvem.pdb
/CSAS/bin/Debug/CSAS.vshost.exe
/CSAS/bin/Debug/CSAS.vshost.exe.config
/CSAS/bin/Debug/CSAS.vshost.exe.manifest
/CSAS/bin/Debug/Db4objects.Db4o.dll
/CSAS/bin/Debug/Ionic.Utils.Zip.dll
/CSAS/bin/Debug/itextsharp.dll
/CSAS/bin/Debug/SDE.dll
/CSAS/bin/Debug/SDE.pdb
/CSAS/bin/Debug/CSAS.application
/CSAS/bin/Debug/CSAS.exe
/CSAS/bin/Debug/CSAS.exe.config
/CSAS/bin/Debug/CSAS.exe.manifest
/CSAS/bin/Debug/CSAS.pdb
/CSAS/bin/Debug/CSAS.vshost.application
/CSAS/bin/Release/CSAS.exe.manifest
/CSAS/bin/Release/CSAS.pdb
/CSAS/bin/Release/CSAS.vshost.application
/CSAS/bin/Release/CSAS.vshost.exe
/CSAS/bin/Release/CSAS.vshost.exe.config
/CSAS/bin/Release/CSAS.vshost.exe.manifest
/CSAS/bin/Release/Db4objects.Db4o.dll
/CSAS/bin/Release/Ionic.Utils.Zip.dll
/CSAS/bin/Release/itextsharp.dll
/CSAS/bin/Release/SDE.dll
/CSAS/bin/Release/SDE.pdb
/CSAS/bin/Release/SDE.Web.dll
/CSAS/bin/Release/SDE.Web.pdb
/CSAS/bin/Release/Boleto.Net.dll
/CSAS/bin/Release/Boleto.Net.pdb
/CSAS/bin/Release/CSAS.application
/CSAS/bin/Release/CSAS.exe
/CSAS/bin/Release/CSAS.exe.config
/CSAS/gerador/GeradorAS.cs
/CSAS/obj/Debug/CSAS.Properties.Resources.resources
/CSAS/obj/Debug/CSAS.ReescritorCamada.resources
/CSAS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSAS/obj/Debug/DOTNET_ADOBEFLEX.csproj.FileListAbsolute.txt
/CSAS/obj/Debug/DOTNET_ADOBEFLEX.exe
/CSAS/obj/Debug/DOTNET_ADOBEFLEX.Form1.resources
/CSAS/obj/Debug/DOTNET_ADOBEFLEX.Properties.Resources.resources
/CSAS/obj/Debug/GenerateResource-ResGen.read.1.tlog
/CSAS/obj/Debug/GenerateResource-ResGen.write.1.tlog
/CSAS/obj/Debug/ResolveAssemblyReference.cache
/CSAS/obj/Debug/CSAS.application
/CSAS/obj/Debug/CSAS.csproj.FileListAbsolute.txt
/CSAS/obj/Debug/CSAS.exe
/CSAS/obj/Debug/CSAS.exe.manifest
/CSAS/obj/Debug/CSAS.Form1.resources
/CSAS/obj/Debug/CSAS.pdb
/CSAS/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/CSAS/obj/Release/ConversorCSAS.csproj.FileListAbsolute.txt
/CSAS/obj/Release/ConversorCSAS.Form1.resources
/CSAS/obj/Release/ConversorCSAS.Properties.Resources.resources
/CSAS/obj/Release/CSAS.application
/CSAS/obj/Release/CSAS.csproj.FileListAbsolute.txt
/CSAS/obj/Release/CSAS.csproj.GenerateResource.Cache
/CSAS/obj/Release/CSAS.exe
/CSAS/obj/Release/CSAS.exe.manifest
/CSAS/obj/Release/CSAS.Form1.resources
/CSAS/obj/Release/CSAS.pdb
/CSAS/obj/Release/CSAS.Properties.Resources.resources
/CSAS/obj/Release/CSAS.ReescritorCamada.resources
/CSAS/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CSAS/obj/Release/DOTNET_ADOBEFLEX.csproj.FileListAbsolute.txt
/CSAS/obj/Release/ResolveAssemblyReference.cache
/CSAS/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/CSAS/Properties/AssemblyInfo.cs
/CSAS/Properties/Resources.Designer.cs
/CSAS/Properties/Resources.resx
/CSAS/Properties/Settings.Designer.cs
/CSAS/Properties/Settings.settings
/CSAS/Properties/app.manifest
/CSAS/CSAS.csproj.user
/CSAS/CSAS.sln
/CSAS/CSAS.suo
/CSAS/Form1.cs
/CSAS/Form1.Designer.cs
/CSAS/Form1.resx
/CSAS/Leia-me.txt
/CSAS/Program.cs
/CSAS/ReescritorCamada.cs
/CSAS/ReescritorCamada.Designer.cs
/CSAS/ReescritorCamada.resx
/CSAS/app.config
/CSAS/CSAS.csproj
/CSAS/Service References/git.txt
/NFE/SDEapp/bin/Debug/NFE.pdb
/NFE/SDEapp/bin/Debug/NFE.vshost.exe.manifest
/NFE/SDEapp/bin/Debug/NFE.exe
/NFE/SDEapp/obj/Debug/NFE.csproj.FileListAbsolute.txt
/NFE/SDEapp/obj/Debug/NFE.csproj.GenerateResource.Cache
/NFE/SDEapp/obj/Debug/NFE.exe
/NFE/SDEapp/obj/Debug/NFE.exe.manifest
/NFE/SDEapp/obj/Debug/NFE.frmPrincipal.resources
/NFE/SDEapp/obj/Debug/NFE.inutilizacaoNFe.resources
/NFE/SDEapp/obj/Debug/NFE.pdb
/NFE/SDEapp/obj/Debug/NFE.Properties.Resources.resources
/NFE/SDEapp/obj/Debug/NFE.TrustInfo.xml
/NFE/SDEapp/obj/Debug/ResolveAssemblyReference.cache
/NFE/SDEapp/obj/Debug/SDEapp.csproj.FileListAbsolute.txt
/NFE/SDEapp/obj/Debug/SDEapp.csproj.GenerateResource.Cache
/NFE/SDEapp/obj/Debug/NFE.application
/NFE/SDEapp/obj/Debug/NFE.cancelNFe.resources
/NFE/SDEapp/obj/Debug/NFE.consultaNFe.resources
/NFE/SDEapp/obj/Debug/TempPE/Service References.srCancelamento.Reference.cs.dll
/NFE/SDEapp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll